html {
	background-color: white;
	color: slategrey;
	font-family: Georgia;

}
#nav {
height: 100px;
padding-right: 3%;
}
#nav li {
display: inline;
float: right;
list-style: none;
padding-right: 7%;
padding: 10px;
}
#wrapper {

height: 750px;
margin-left: 5%;
margin-right: 8%;
margin-top: 3%;
width: 90%;
}

#wrapper img {
	padding-left: 14%;
	padding-top: 8%;
	padding-right: 8%;

}
.section1 {
	background-color: #E2E3E5;

}
.section2 {
	padding-top: 4%;
	width: 30%;
}
.section3 p{

	margin-left: 4%;
	width:30%;
	float: right;
}